<p class="copyright">
  &copy;<%= Date.today.year %> SelectiveBuzz.
  Site created by
  <%= link_to 'Travis Roberts', 'http://travisroberts.net', :popup => true %>.
</p>

<p class="designer">
  Site design by <%= link_to image_tag('logo-ar.png', :alt => 'Andrew Reifman'), 'http://andrewreifman.com', :popup => true %>
</p>