<h2>What Is This?</h2>

<p>SelectiveBuzz allows you to push content from your Google Buzz account to Twitter and Facebook by using special tags.</p>

<h2>How Does It Work?</h2>

<p>It's easy! After you sign up, you can enable Twitter and Facebook integration for your account. If you post content to your Google Buzz account with special tags (#fb for Facebook and #tweet for Twitter) SelectiveBuzz will push that content to your respective accounts.</p>